@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand colors */
  --primary: #29333f;
  --primary-foreground: #ffffff;

  --secondary: #fee028;
  --secondary-foreground: #29333f;

  --muted: #f7f7f7;
  --border: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-be-vietnam-pro);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-border: var(--border);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Optional dark mode setup later */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-be-vietnam-pro),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  box-sizing: border-box;
}

.hideNumberSpinnerStyles {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
